
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

header {
  background-color: #2e64a1;
  padding-top: 20px;
}

header h1 {
  color: white;
  font-weight: 100;
  font-style: italic;
  /*display: inline-flex;*/
  display: inline-block;
  position: relative;
  bottom: 35px;
}

nav {
  background-color: #6da9ed;
  margin-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 3px 0;
  display: flex;
  justify-content: center;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /*la a tiene que ver con la trasparencia*/
}

nav ul li a.activo {
  background-color: #4c76a5;
}

footer {
  background-color: #ccc;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;

}

h2 {
  color: #2e64a1;
  font-weight: 400;
}

/*inicio home*/
.homeimg img {
  max-width: 100%;
}

.columnas {
  display: flex;
}

.bienvenidos {
  width: 75%;
  padding-right: 20px;
}

.testimonios {
  width: 25%;
}

.bienvenidos p {
  font-size: 20px;
}

.testimonio {
  background-color: #ccc;
  padding: 16px;
}

.testimonio .cita {
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  display: block;
}

.testimonios .autor {
  font-size: 12px;
  display: block;
  text-align: center;
  margin: 16px 0;
}
